/* .subdivition{
    height: 250px;
    width: 300px;
color: white;
    background-color: aqua;
} */
 .para{
    color: rgb(216, 52, 11);
    background-color: antiquewhite;
    font-family: serif;
    font-size: medium;
 }
